---
http_interactions:
  - request:
      method: put
      uri: https://api.getcortexapp.com/api/v1/catalog/custom-data
      body:
        encoding: UTF-8
        string:
          '{"values":{"betterup-monolith":[{"key":"code-ownership","value":22.94,"description":"Percentage
          of files with ownership"},{"key":"system-ownership","value":52,"description":"Number
          of systems with ownership"}]}}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <access_token>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Tenant-Id:
          - "180"
        X-Appengine-Flex-Applatency:
          - "0.161"
      body:
        encoding: ASCII-8BIT
        string:
          '{"values":[{"id":379921,"key":"code-ownership","value":22.94,"source":"API","dateUpdated":"2022-12-19T23:45:46.922281","description":"Percentage
          of files with ownership"},{"id":388281,"key":"system-ownership","value":52,"source":"API","dateUpdated":"2022-12-19T23:30:56.396648","description":"Number
          of systems with ownership"}]}'
    recorded_at: Tue, 20 Dec 2022 00:02:16 GMT
  - request:
      method: post
      uri: https://api.getcortexapp.com/api/v1/catalog/betterup-monolith/custom-data
      body:
        encoding: UTF-8
        string:
          '{"key":"code-ownership","value":22.94,"description":"Percentage of
          files with ownership"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <access_token>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Tenant-Id:
          - "180"
        X-Appengine-Flex-Applatency:
          - "0.136"
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":379921,"key":"code-ownership","value":22.94,"source":"API","dateUpdated":"2022-12-19T23:45:46.922281","description":"Percentage
          of files with ownership"}'
    recorded_at: Tue, 20 Dec 2022 00:02:16 GMT
recorded_with: VCR 6.1.0
